shamefully-hoist=true
unsafe-perm = true
ignore-scripts = false
electron_mirror="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"